@import './reset';
@mixin flexContainer {
    display: flex;
    height: 80px;
}
$itemHeight:160px;
$flexBasis: 16.1%;

.flex-container-1 {
    @include flexContainer;
    justify-content: space-between;
    .flex__item {
        flex-basis: $flexBasis;
    }
    .item_modificaton-1 {
        background-color: rgb(142, 120, 120);
        flex-grow: 1;
    }
    .item_modificaton-2 {
        background-color: aqua;
    }
}

.flex-container-2 {
    @include flexContainer;
    .flex__item {
        flex-basis: $flexBasis;
    }
    .item_modificaton-3 {
        background-color: rgb(15, 18, 111);
    }
    .item_modificaton-4 {
        background-color: yellowgreen;
    }
    .item_modificaton-5 {
        background-color: rgb(77, 13, 25);
        height: $itemHeight;
        align-self: flex-end;
        flex-grow: 1;
    }
    .item_modificaton-6 {
        background-color: rgb(190, 79, 100);
        height: $itemHeight;
        align-self: flex-end;
    }
    .item_modificaton-7 {
        background-color: rgb(185, 152, 158);
    }
}

.flex-container-3 {
    @include flexContainer;
    .flex__item {
        flex-basis: $flexBasis;
    }
    .item_modificaton-8 {
        background-color: red;
    }
    .item_modificaton-9 {
        background-color: rgb(47, 38, 38);
        flex-grow: 1;
    }
    .item_modificaton-10 {
        background-color: rgb(58, 30, 106);
        flex-grow: 1;
    }
    .item_modificaton-11 {
        background-color: rgb(42, 183, 20);
    }
}
   
/*..........................................*/

.grid-container {
    margin-top: 40px;
} // TODO Добавил для удобства восприятия :)

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .grid__item {
        min-height: 80px;
    }
    .item_modif-grid-1 {
        grid-area: 1 / 1 / 1 / 3;
        background-color: rebeccapurple;
    }
    .item_modif-grid-2 {
        grid-area: 1 / 3 / 3 / 5;
        background-color: rgb(79, 77, 81);
        height: auto;
    }
    .item_modif-grid-3 {
        grid-area: 1 / 5 / 3 / 5;
        background-color: rgb(117, 20, 25);
        height: auto;
    }
    .item_modif-grid-4 {
        grid-area: 1 / 6 / 1 / 6;
        background-color: rgb(207, 188, 226);
    }
    .item_modif-grid-5 {
        grid-area: 2 / 1 / 2 / 1 ;
        background-color: rgb(48, 203, 58);
    }
    .item_modif-grid-6 {
        grid-area: 2 / 2 / 2 / 2;
        background-color: rgb(204, 102, 33);
    }
    .item_modif-grid-7 {
        grid-area: 2 /6 /2 / 6;
        background-color: rebeccapurple;
    }
    .item_modif-grid-8 {
        grid-area: 3 / 1 / 3 / 1;
        background-color: rgb(20, 29, 129);
    }
    .item_modif-grid-9 {
        grid-area: 3 / 2 / 3 / 4;
        background-color: rgb(235, 82, 44);
    }
    .item_modif-grid-10 {
        grid-area: 3 / 4 / 3 / 6;
        background-color: rgb(194, 183, 205);
    }
    .item_modif-grid-11 {
        grid-area: 3 / 6 / 3 / 6 ;
        background-color: rgb(30, 48, 111);
    }
}
       
       
      
       
    
    
    
        
        
        











































    